body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:272px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:0px;
  width:625px;
  height:271px;
  font-size:28px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  word-wrap:break-word;
}
