body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:239px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:34px;
  width:512px;
  height:238px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:508px;
  word-wrap:break-word;
}
